[class*='faction1001'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/o-12.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction1002'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/starmada.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction101'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/panoceania.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction102'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/shock-army-of-acontecimento.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction103'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/military-orders.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction104'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/neoterran-capitaline-army.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction105'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/varuna.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction106'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/winterfor.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction201'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/yu-jing.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction202'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/imperial-service.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction204'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/invincible-army.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction205'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/white-banner.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction301'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ariadna.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction302'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/caledonian-highlander-army.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction303'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/force-de-reponse-rapide-merovingienne.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction304'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/usariadna.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction305'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/tartary.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction306'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/kosmoflot.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction401'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/haqqislam.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction402'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/hassassin-bahram.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction403'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/qapu-khalqi.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction404'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ramah-taskforce.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction501'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/nomads.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction502'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/corregidor.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction503'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/bakunin.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction504'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/tunguska.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction601'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/combined-army.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction602'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/morat.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction603'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/shasvastii.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction604'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/onyx.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction701'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/aleph.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction702'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/steel-phalanx.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction703'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/operations.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction801'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/tohaa.svg) 30px center no-repeat;
    background-size: 24px 24px;
}

[class*='faction902'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/druze.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction903'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/japanese-secessionist-army.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction904'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ikari.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction905'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/starco.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction906'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/spiral-corps.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction907'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/foreign-company.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction908'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/dahshat.svg) 30px center no-repeat;
    background-size: 24px 24px;
}
[class*='faction909'] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/white-company.svg) 30px center no-repeat;
    background-size: 24px 24px;
}


[md-svg-src="/images/logos/logo_1001.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/o-12.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}[md-svg-src="/images/logos/logo_1002.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/starmada.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_105.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/varuna.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_106.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/winterfor.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_204.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/invincible-army.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_305.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/tartary.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_703.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/operations.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_904.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/ikari.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_905.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/starco.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_906.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/spiral-corps.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_907.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/foreign-company.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_908.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/dahshat.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
[md-svg-src="/images/logos/logo_908.svg"] {
    background: url(https://assets.corvusbelli.net/army/img/logo/factions/white-company.svg) 0 0 no-repeat;
    background-size: 24px 24px;
}
